---
const title = "My first component";
const items = ["one", "two", "three"];
const substyle = "subtitle-style-2024";
---

<h1>{title}</h1>

<ul>
  <!-- {items.map((item) => <li>{item}</li>)} -->
  {items.map((item) => <li class={substyle}>{item}</li>)}
</ul>

<!-- Second Option RECOMEND-->
<>
  {
    items.map((item) => (
      <>
        <li class={substyle}>{item}</li>
      </>
    ))
  }
</>
<style>
  h1 {
    color: red;
  }
  /* li {
    color: orange;
  } */
  .subtitle-style-2024 {
    color: white;
    list-style-type: circle;
    font-weight: bold;
  }
</style>
